:root {
  --tt-base: 10;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-primary: #ff5f7e;
  --color-secondary: #1a4a67;
  --color-paragraph: #555555;
  --font-family-heading: "Poppins", sans-serif;
  --font-family-body: "Lato", "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // background: rgb(0 100 0 / 0.1) !important;
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-thumb {
  background: transparent !important;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: var(--font-family-body);
  word-wrap: break-word;
}

ul {
  list-style-type: none;
}

.image {
  height: 100%;
  width: 100%;
}

section {
  margin-bottom: 5rem !important;
  max-width: 1440px;
  margin: 0 auto;
}

// &&&&&&&&&&&&&&&
//  Typetura
// &&&&&&&&&&&&&&&
.h-large,
.h-medium,
.h-regular,
.h-small {
  --tt-ease: ease-out;
  --tt-max: 1440;
  font-family: var(--font-family-heading);
}

.h-large {
  font-weight: 600;
  --tt-key: heading-large;
}

.h-medium {
  font-weight: 600;
  --tt-key: heading-medium;
}

.h-regular {
  font-weight: 500;
  --tt-key: heading-regular;
}

.h-small {
  font-weight: 400;
  --tt-key: heading-small;
  line-height: 150%;
}

.paragraph {
  font-weight: 400;
  line-height: 150%;
  font-family: var(--font-family-body);
  font-size: 1.8rem;
  color: var(--color-paragraph);
}

.paragraph-light {
  @extend .paragraph;
  color: var(--color-light);
  opacity: 0.75;
}

.btn {
  font-family: var(--font-family-body);
  font-size: 1.5rem;
  max-width: 253px;
  @include xs {
    max-width: none;
  }
}

.btn-secondary-1 {
  @extend .btn;
  @include u_button(var(--color-light), var(--color-secondary), var(--color-secondary));
}

.btn-secondary-2 {
  @extend .btn;
  @include u_button(var(--color-secondary), var(--color-light), var(--color-light));
}

.btn-primary-1 {
  @extend .btn;
  @include u_button(var(--color-primary), var(--color-light), var(--color-primary));
}

@keyframes heading-large {
  0% {
    font-size: 2.5rem;
  }
  70% {
    font-size: 3rem;
  }
  100% {
    font-size: 4.8rem;
  }
}

@keyframes heading-medium {
  0% {
    font-size: 2.05rem;
  }
  70% {
    font-size: 2.8rem;
  }
  100% {
    font-size: 3.6rem;
  }
}

@keyframes heading-regular {
  0% {
    font-size: 2rem;
  }
  70% {
    font-size: 2.8rem;
  }
  100% {
    font-size: 3rem;
  }
}

@keyframes heading-small {
  0% {
    font-size: 1.33rem;
  }
  70% {
    font-size: 1.8rem;
  }
  100% {
    font-size: 2.5rem;
  }
}
